* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.app {
  background-color: #f3fafb;
  width: 100%;
  height: 100vh;

  .inputContainer {
    height: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 10px;

    .input {
      height: 40px;
      width: 200px;
      border: none;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      outline: none;
      font-family: "Roboto", sans-serif;
      font-size: 1.5rem;
      padding-left: 15px;
    }

    button {
      height: 40px;
      border: none;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      background-color: #2c3e50;
      cursor: pointer;
    }
  }

  .itemsContainer {
    padding: 15px;
    border-radius: 10px;
    height: 420px;
    width: 250px;
    margin: 0 auto;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
  }
}
